<style>
  #forgot {
    margin: 5em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  }
</style>
<div class="container">
  <div class="section">
    <form id="forgot" class="col s12">
    <h4 class=center>RESET PASSWORD</h4>
    <div class=row>
    <div class="input-field col s12">
    <input id=email type=email class=validate>
    <label for=email>Email</label>
    </div>
    </div>
    <div class="row center">
    <a href=# id=singup class="btn-large waves-effect waves-light teal blue">RESET</a>
    </div>
    </form>
  </div>
</div>
