<div class=container>
  <div class="row hide-on-med-and-down">
    <div class="section">
      <div class="col s12 m12 right">
        <div class="carousel carousel-slider center" data-indicators=true>
          <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
          </div>
          <div class="carousel-item red white-text">
            <h2>Hello, </h2>
            <p class=white-text>This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text">
            <h2>Second Panel</h2>
            <p class=white-text>This is your second panel</p>
          </div>
          <div class="carousel-item green white-text">
            <h2>Third Panel</h2>
            <p class=white-text>This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text">
            <h2>Fourth Panel</h2>
            <p class=white-text>This is your fourth panel</p>
          </div>
          <div class="carousel-item blue white-text">
            <h2>Fourth Panel</h2>
            <p class=white-text>This is your fourth panel</p>
          </div>
          <div class="carousel-item blue white-text">
            <h2>Fourth Panel</h2>
            <p class=white-text>This is your fourth panel</p>
          </div>
          <div class="carousel-item blue white-text">
            <h2>Fourth Panel</h2>
            <p class=white-text>This is your fourth panel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=row>
    <div class="col s12 m12 right">
      <div class=section>
        <div class=row>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light"><img class=activator src=images/office.jpg></div>
              <div class=card-content>
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href=#>This is a link</a></p>
              </div>
              <div class=card-reveal>
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
